* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  height: 60px;
}

.nike {
  margin-left: 2rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: -4rem;
}

.search-container input {
  width:70%;
  padding: 10px 10px 10px 40px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  background-color: #f7f7f7;
}

.search-container input::placeholder {
  color: #999;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: black;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 1.75rem;
}

.icons .cart-icon {
  margin-left: 20px;
  font-size: 1.23rem;
  color: black;
  transition: color 0.3s;
  cursor: pointer;
}
