.container{
    display: flex;
    justify-content: space-around;
}
.resources .resources-item{
    /* display: flex; */
    width: 50%;
    background-color: red;
    height: 200px;
    /* flex-direction: column; */
}
